@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600&display=swap');

:root {
  /* ### Primary */
  --Stron-Cyan: hsl(171, 66%, 44%);
  --Ligh-Blue: hsl(233, 100%, 69%);

  /* ### Neutral */
  --Dark-Grayish-Blue: hsl(233, 100%, 69%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

* {
  font-size: 18px;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
}

html {
  font-size: 18px;
}

/* all a and p  */
a {
  text-decoration: none;
  color: #000000;
}

p {
  line-height: 1.8;
  color: var(--Grayish-Blue);
}

/* hero section */
.hero {
  background: url('../images/bg-header-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 6.25rem;
  margin: 5.556rem 0 0.833rem
}

.heading h1 {
  font-size: 2.222rem;
  margin: 0.833rem 0 0.833rem;
}

.sub-heading p {
  margin: 0;
  padding: 0 11.111rem;
  color: var(--Grayish-Blue);
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: var;
  text-align: center;
  color: #f5f5f5;
}

/* button */
.buttons a {
  color: #f5f5f5;
}

.btn1 {
  padding: 0.833rem 1.667rem 0.667rem;
  margin-right: 1rem;
  border-radius: 60px;
  background-color: var(--Stron-Cyan);
  box-shadow: -1px 2.5px 2px 2px var(--Stron-Cyan);
}

.btn2 {
  padding: 0.833rem 1.667rem 0.667rem;
  border-radius: 60px;
  margin-left: 0.278rem;
  background-color: var(--Ligh-Blue);
  box-shadow: -1px 2.5px 2px 2px var(--Ligh-Blue);
}

.btn1:hover , .btn2:hover{
  opacity: 0.8;
}
/* keep tracks */
.track {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5.556rem;
  position: relative;
}

.top-track {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.222rem;
  position: relative;
}

.top-track h2 {
  font-size: 1.944rem;
  margin: 0.833rem 0;
}

.top-track p {
  margin: 0;
  padding: 0 16.667rem;
  text-align: center;
}

.bottom-track {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-track {
  position: relative;
  left: -2.778rem;
  top: 2.778rem;
}

.right-text-track {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2.778rem;
}

.right-text-track .right-text h3 {
  margin: 1.389rem 0 0;
}

.right-text-track .right-text p {
  padding-right: 15.556rem;
  margin: 0.056rem 0 0.667rem;
}

/* Acess clipboard */
.access {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6.944rem;
}

.top-access h2 {
  font-size: 1.944rem;
  margin: 0.833rem 0;
  text-align: center;
}

.top-access p {
  margin: 0;
  padding: 0 19.444rem;
  text-align: center;
}

.img-access {
  margin-top: 3.333rem;
}

/* worflow and feathers */
.workflow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.778rem;
}
.top-workflow h2 {
  font-size:  1.944rem;
  margin: 0.833rem 0;
  text-align: center;
}

.top-workflow p {
  margin: 0;
  padding: 0 350px;
  text-align: center;
}

.all-features {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.778rem;
  margin-top: 1.111rem;
  text-align: center;
}

.feature {
  padding: 0 1.111rem;
}

.feature h3 {
  font-size: 1.111rem;
  margin: 1.667rem 0 0.556rem;
}

.feature p {
  margin: 0;
  padding: 0 0.278rem;
  text-align: center;
}

/* our .clients */
.clients {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
}

/* .clipboard for ios and mac */
.clipboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clip-heading {
  margin-top: 6.667rem;
}

.clip-heading h2 {
  font-size:  1.944rem;
  margin: 0.833rem 0;
}

.clip-sub-heading p {
  margin: 0;
  padding: 0 19.444rem;
  text-align: center;
}

/* footer */
footer {
  background-color: #f5f5f5;
}

.foot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5.556rem;
  color: black;
  padding: 0.444rem 0.833rem;
}

.foot-logo {
  width: 3.3rem;
}

.foot-links {
  display: flex;
  justify-content: center;
}

.link1 ul {
  padding: 0;
  margin: 0 1.111rem 0 0;
}

.link1 ul li {
  list-style: none;
  margin: 0.556rem 0.833rem 0 0;
  padding-right: 1.111rem;
  padding-bottom: 0.556rem;
}

.link1 ul li a {
  color: black;
}

.social-links ul {
  margin-top: 1.667rem;;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links ul li {
  list-style: none;
  padding-right: 0.833rem;
}

.link1 a:hover {
  color: var(--Stron-Cyan);
}

.social-links a:hover {
  fill: var(--Stron-Cyan);
}

/* .attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 2px;
  color: #000;
  padding-right: 50px;
  font-size: 12px;
}
.attribution a {
  font-size: 12px;
}

.attribution a:hover {
  text-decoration: underline;
} */

/* all media query */

/* laptop view */
@media all and (max-width: 1024px) {
  .top-access p {
    margin: 0;
    padding: 0 2.778rem;
    text-align: center;
  }

  .top-track p {
    padding: 0 2.778rem;
  }

  .img-access {
    margin-top: 2.778rem;
  }

  .right-text-track .right-text p {
    padding-right: 1.111rem;
    margin: 0.056rem 0 0.556rem;
  }

  .workflow {
    margin-top: 2.222rem;
  }

  .top-workflow p {
    padding: 0 2.222rem;
  }

  .clients {
    margin-top: 5.556rem;
  }

  .clip-heading {
    margin-top: 5.556rem;
  }

  .clip-sub-heading p {
    padding: 0px 2.778rem;
  }
}

/* tablet view */
@media all and (max-width: 786px) {
  .sub-heading p {
    padding: 0px 3.333rem;
  }

  .buttons {
    margin-top: 1.5rem;
  }

  .track {
    margin-top: 4.167rem;
  }

  .img-track {
    left: 1.222rem;
    top: 2.5rem;
    max-width: 27.778rem;;
    height: auto;
  }

  .bottom-track {
    flex-direction: column;
  }

  .right-text-track {
    margin-top: 2.778rem;
    text-align: center;
  }

  .img-access {
    max-width: 33.333rem;
  }

  .all-features {
    flex-direction: column;
    padding: 1.944rem;
    margin-top: 1.667rem;
  }

  .feature {
    padding: 0 0px;
    margin-bottom: 1.667rem;
  }

  .feature p {
    padding: 0;
    /* margin-bottom: 25px; */
  }

  .clients {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.333rem;
  }
  .clients-icon {
    width: 9.444rem;
  }

  .foot {
    margin-top: 5rem;
    padding: 0px;
  }

  .foot-logo {
    width: 2.5rem;
  }
  .link1 ul li {
    margin: 0.278rem  0.667rem 0 0;
    padding-right: 0.389rem;
    padding-bottom: 0.278rem;
  }

  .link1 a {
    font-size: 0.667rem;
  }
}

/* mobile device */
@media all and (max-width: 435px) {
  p {
    font-size: 0.889rem;
  }

  .hero {
    background-image: url(../images/bg-header-mobile.png);
  }

  .heading h1 {
    text-align: center;
    font-size: 2rem;
  }

  .sub-heading p {
    padding: 0px 1.389rem;
    line-height: 1.5;
  }

  .buttons {
    flex-direction: column;
  }

  .btn1 {
    padding: 0.667rem 4rem;
    margin-right: 0;
  }

  .btn2 {
    margin-top: 1.389rem;
    padding: 0.667rem 4rem;
    margin-left: 0;
  }

  .top-track h2 {
    font-size: 1.667rem;
    text-align: center;
  }

  .top-track p {
    padding: 0 1.389rem;
  }

  .img-track {
    position: initial;
    left: 0;
    top: 0;
    max-width: 16.667rem;
  }

  .right-text-track {
    margin-left: 0px;
  }

  .right-text-track .right-text h3 {
    margin: 0px;
  }

  .right-text-track .right-text p {
    padding: 0.278rem 1.389rem 0;
    margin: 0;
  }

  .top-access h2 {
    font-size: 1.667rem;
    margin: 0.556rem 0;
  }

  .top-access p {
    padding: 0 1.389rem;
  }

  .img-access {
    max-width: 19.444rem;
  }

  .workflow {
    margin-top: 3.33rem;
  }

  .clients-icon {
    width: 7.222rem;
  }

  .clip-heading h2 {
    font-size: 1.667rem;
    text-align: center;
  }

  .clip-sub-heading p {
    padding: 0px 1.389rem;
  }
  .foot {
    flex-direction: column;
  }

  .foot-logo {
    margin: 1.389rem 0;
  }

  .foot-links {
    flex-direction: column;
    text-align: center;
  }
  .link1 ul {
    margin: 0;
  }

  .link1 ul li {
    margin: 0 0  0.556rem;
    padding-right: 0;
    padding-bottom: 0;
  }

  .social-links ul {
    padding: 0;
  }

  .social-links ul li {
    padding: 0 1.389rem;
  }
}
